[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

[run]
omit =
	versioneer.py
	punx/_version.py
	punx/github_handler.py
	punx/tests/github_handler_test.py
