# :file: .travis.yml
#
# :url:  https://travis-ci.org/prjemian/punx
#
# for advice, see:
#  https://docs.travis-ci.com/user/customizing-the-build#The-Build-Lifecycle

language: python
python:
  - "2.7"

before_script:
  - wget http://repo.continuum.io/miniconda/Miniconda2-4.2.12-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH=$HOME/miniconda/bin:$PATH
  - which pip
  - which python
  - which conda
  - conda install --yes numpy h5py lxml requests pyqt=4 coverage docopt
  - pip install pyRestTable
  - pip install coveralls
  - which coveralls

# command to run tests
script:
  - python ./src/punx/main.py -h
  - python ./src/punx/main.py --release
  - python ./src/punx/main.py update --force
  - which coverage
  - coverage run tests/common_test.py
  - coverage run -a tests/_version_test.py
  - coverage run -a tests/h5structure_test.py
  - coverage run -a tests/validate_test.py

after_success:
  - coverage report
  - which coveralls
  - coveralls
